html{
	overflow-x: hidden;
}
*{
	box-sizing: border-box;
}
body{
	height: 100%;
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0;
	background: #CB60B3;
background: linear-gradient(to right, #CB60B3 0%, #C146A1 50%, #A80077 51%, #DB36A4 100%);

	font-family: 'Rubik Puddles', Courier, monospace;
	animation: rotate 6s infini alternate	linear;}

	
.audio{
margin-left: 530px;
}


.header{
	position: relative;
	display: flex;
	justify-content: center;
	font-size: 25px;
	width: 100%;
	height: 350px;
	border-radius: 3%;
	overflow: hidden;
	

	background-image:url(./images/—Pngtree—gradient\ pink\ birthday\ balloon\ small_1229104.jpg);
	background-size: cover;
}
.header__logo{
	position: absolute;
	bottom: 5px;
align-items: center;
justify-content: center;
color: purple;
font-size: 70px;
}
.section{
	position: relative;
	background-color:rgba(133, 20, 133, 0.4);
	border-radius: 3%;
}
.section__logo{
	display: inline-flex;
	align-items: center;
	padding-left: 70px;
	padding-top: 15px;
	margin: 0px;
	font-weight: 700;
	font-size: 30px;
	color:pink;
	cursor: pointer;

	transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.section__logo:hover{
	color: black;
}
.section__paragraph{
	font-family: 'Pacifico', Courier, monospace;
	color: black;
	font-size: 25px;
	padding-left: 20px;
	text-shadow: 9px 6px 2px rgba(184, 226, 187, 0.68);
}
.container__p{
	width: 70%;
}

/*ЛЕНТА*/

.ribbon {
	width: 302px;
	position: absolute;
	left: 85%;
	bottom: 15%;
	margin-left: -151px;
	text-align: center;
	font-size: 22px !important;
	background: #D90D51;
	background: linear-gradient(to bottom, #D90D51, #B84B5A);
	box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
	font-family: 'Helvetica Neue',Helvetica, sans-serif;
}

.ribbon p {
	font-family: 'Dancing Script', Arial, sans-serif;
	font-size: 26px !important;
	color: #8A767C;
	text-shadow: #4BFAD7 0 1px 0;
	margin:0px;
	padding: 19px 10px;
}

.ribbon:before, .ribbon:after {
	content: '';
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1.5em solid #CC3165;
	z-index: -1;
}

.ribbon:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
	box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
}

.ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
	box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	border-color: #E649C6 transparent transparent transparent;
	position: absolute;
	display: block;
	border-style: solid;
	bottom: -1em;
	content: '';
}

.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
}

.ribbon-stitches-top {
	margin-top:2px;
	border-top: 1px dashed rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.ribbon-stitches-bottom {
	margin-bottom:2px;
	border-top: 1px dashed rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}
.photo{
	width: 1340px;
}
.slide__photo{
	border-radius: 15%;
}
.gallery{
	position: relative;
}
.fon{
	background-color:crimson;
	border-radius: 10px; 
border: 1px solid rgb(219, 48, 48);
margin: 0px
}
.section__2{
	width: 1350px;
}

.wrapper{
	display: flex;
	height: 100vh;
	width: 100%;
	position: relative;
	
}
.main{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: url(./images/—Pngtree—bright\ abstract\ starry\ pink\ background_1178245.jpg)no-repeat, center;
	background-size: cover;
	z-index: 3;
}
.main__title{
	color: rgba(116, 6, 167, 0.966);
	font-size: 52px;
	letter-spacing: 1.25px;
	font-family: 'Dancing Script', Courier, monospace;
}
.overlay{
	width: 2%;
	height: 100%;
	position: relative;
	z-index: 4;
	background: url(./images/pink-balloons-arrangement\ \(1\).jpg) no-repeat, center;
	background-attachment: fixed;
	transition: 1.2s linear;
}
.overlay:hover{
	opacity: 0;
	transition: 0s linear;
}